.table_DSV {
    width: 100%;
    text-align: center;
    .title_table1,
    .title_table2,
    .title_table3,
    .title_table4,
    .title_table5,
    .title_table6 {
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: #f1f4f8;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 26px;
        color: #1e0d03;
    }
}
