.wrapper {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
}

.inner {
    height: 100%;
    width: 100%;
    padding: 17px 33px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    img {
        cursor: pointer;
        width: 133px;
        height: 58px;
    }
}

.search {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 16px;
    margin-left: 155px;
    gap: 16px;
    width: 437px;
    height: 48px;
    background: #ede6e6;
    border-radius: 12px;

    input {
        border: none;
        outline: none;
        width: 361px;
        height: 28px;
        font-family: 'Montserrat';
        font-style: italic;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #1e0d03;
        opacity: 0.3;
        background: #ede6e6;
    }
}

.search-btn {
    border: none;
    outline: none;
    color: #1e0d03;
    background: #ede6e6;

    &:hover {
        cursor: pointer;
    }
}

.actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    margin-left: auto;
    gap: 24px;
    width: 165px;
    height: 48px;
    top: 17px;
}

.logo-mail {
    img {
        cursor: pointer;
        width: 24px;
        height: 24px;
    }
}

.logo-bell {
    img {
        cursor: pointer;
        margin-top: 2px;
        width: 35px;
        height: 35px;
    }
}

.account {
    cursor: pointer;
    height: 48px;
    width: 48px;
    left: 96px;
    top: 0px;
    border-radius: 30px;
    // background-color: #1e0d03;
}
