.container_DSV {
    display: flex;
    gap: 20px;
    background-color: #f9f6f4;
}
.content {
    width: 70%;
    background-color: #fff;
    border-radius: 24px;
    height: 820px;
    gap: 20px;
    padding: 30px;
}
.content_DSV_Right {
    width: 30%;
    background-color: #fff;
    border-radius: 24px;
    height: 820px;
    gap: 20px;
    padding: 30px;
}
.DSV_title_left {
    padding: 10px;
}

.search_bar_DSV {
    display: flex;
    gap: 425px;
    padding-top: 20px;
}

.box_DSV {
    background-color: #ff993b;
    color: #fff;
    border: 1px solid #ff993b;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.box_DSV:hover {
    background-color: #fff;
    color: #ff993b;
}
.tinhtrangDS {
    display: flex;
    gap: 35px;
}
.form_check {
    display: flex;
    gap: 10px;
}

.loaive_DSV {
    display: flex;
    gap: 130px;
}
.reSize_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.btn_Loc {
    width: 150px;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #fff;
    color: #ff993b;
    border: 1px solid #ff993b;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}
.btn_Loc:hover {
    background-color: #ff993b;
    color: #fff;
}
.text_btn_Loc {
    width: 200px;
}
