.site-calendar-customize-header-wrapper {
  width: 300px;
  border: 1px solid #f0f0f0;
  border-radius: 2px;
}

.calendarPicker {
  display: flex;
  gap: 13px;
  justify-content: center;
  align-items: center;
  border: 1px solid #e6e0e0;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 8px 12px;
  width: 155px;
  height: 40px;
  margin-right: 60px;
  cursor: pointer;

  .title-month {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #1e0d03;
    opacity: 0.78;
  }

  span.anticon.anticon-calendar {
    color: #ff993c;
  }
}

.dayPicker {
  display: flex;
  gap: 13px;
  justify-content: center;
  align-items: center;
  border: 1px solid #e6e0e0;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 8px 12px;
  width: 140px;
  height: 40px;
  margin-right: 60px;
  cursor: pointer;

  span.anticon.anticon-calendar {
    color: #ff993c;
  }
}

.ant-popover-placement-bottomRight .ant-popover-arrow {
  display: none;
}

.ant-popover-inner {
  border-radius: 20px !important;

  .site-calendar-customize-header-wrapper {
    border: none !important;

    .ant-picker-calendar .ant-picker-panel {
      border-top: none !important;
    }
  }
}

.ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner,
.ant-picker-cell-in-view.ant-picker-cell-range-start .ant-picker-cell-inner,
.ant-picker-cell-in-view.ant-picker-cell-range-end .ant-picker-cell-inner {
  border-radius: 50%;
}

.ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner,
.ant-picker-cell-in-view.ant-picker-cell-range-start .ant-picker-cell-inner,
.ant-picker-cell-in-view.ant-picker-cell-range-end .ant-picker-cell-inner {
  background: #ffba7b !important;
}

.ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before {
  border-radius: 50% !important;
}

.ant-picker-panel {
  .ant-picker-date-panel {
    .ant-picker-body {
      .ant-picker-content {
        thead {
          tr {
            th {
              color: #c55e00 !important;
              font-size: 18px;
              font-weight: 600;
            }
          }
        }
      }
    }
  }
}

.Calendar {
  height: auto;
  width: 370px;
  // min-height:396px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem;
  &-wrap {
    &-radioButton {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      margin: 0 1rem;
    }
    &-month {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: row;
      padding-right: 1rem;
    }
  }
  &-header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    font-size: 18px;
    //   margin:0 60px 0 0;

    &-item {
      min-width: 2rem;
      min-height: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #c55e00;
      font-size: 18px;
      font-weight: 600;
    }
  }
  &-month {
    color: #23221f;
    font-weight: bold;
    font-size: 18px;
  }

  &-week {
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    //   margin:0 60px 0 0;

    &-selected {
      border: 1px solid #ffd2a8;
      border-radius: 16px;
      background-color: #ffd2a8;
    }
    &-dayselected {
      border-radius: 16px;
      background-color: #ffba7b;
    }
  }
  &-day {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 2rem;
    min-height: 2rem;
    border-radius: 50%;
    font-weight: 500;
    color: #1e0d03;
    font-size: 18px;
    //   margin-right: 10px;
    &-selected {
      background-color: #ffba7b;
      border-radius: 50%;
    }

    &-beforestartday {
      color: #24221f4b;
      opacity: 1;
    }
    &:hover {
      background-color: #ffba7b;
      cursor: pointer;
    }
  }
}

.ant-popover {
  z-index: 1060 !important;
}
